*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    width: 500px;
    height: 428px;
    margin: auto;
    margin-top: 200px;
    border-radius: 8px;
    opacity: 0.8;
    color: white;
    overflow: hidden;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: auto;
}

.title{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.icon{
    margin-top: 10px;
    cursor: pointer;
}

.icon:hover{
    background-color: rgb(163, 158, 158);
    border-radius: 50%;
}

hr{
    margin-top: 0.3rem;
    opacity: 0.1;
}

.profile{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 1rem;
}

.img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.privacy{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.privacy-name{
    font-weight: bold;
}

.privacy-public{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: rgb(31, 30, 30);
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 16px;
}

.input{
    width: 100%;
    overflow: hidden;
    border: none;
    margin: 0.5rem;
    /* height: 150px; */
    outline: none;
    background: transparent;
    color: white;
    font-size: 24px;
    resize: none;
}