*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    width: 500px;
    height: 428px;
    margin: auto;
    margin-top: 200px;
    border-radius: 8px;
    opacity: 0.8;
    color: white;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: auto;
}

.title{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.bi{
    margin-top: 10px;
    cursor: pointer;
}

.bi:hover{
    background-color: rgb(163, 158, 158);
    border-radius: 50%;
}

hr{
    margin-top: 0.3rem;
    opacity: 0.1;
}